<!DOCTYPE html>
<!--
Author:         Shawn Hillyer
Description:    CS290 Assignment "GET and Post Checker"
Date;           2/12/2016
Note:           I used the lectures and textbook as 
reference, I did not cite every similarity because there
are only so many ways to do these things :)
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GET and POST Checker</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  </head>
  <body>
      <div class="container">
        {{{body}}}
          
        <div class="row">
            <div class="col-lg-12">
                <footer>
                <p>Created by Shawn Hillyer for OSU-CS290</p></footer>
            </div>  
        </div> <!-- End footer row div -->
      </div> <!-- End main container div -->
  </body>
</html>