<!--
Author:         Shawn Hillyer
Description:    CS290 Assignment "GET and Post Checker"
Date;           2/12/2016
Note:           I used the lectures and textbook as 
reference, I did not cite every similarity because there
are only so many ways to do these things :)
-->
<h1>500 Error has occured.</h1>